<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <title>Smarter Hotline</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='testresponsecss.css') }}">
</head>
<body>
<div class="container">
    <div class="hero-image">
        <div class="hero-text">
            <h1>Smarter Hotline</h1>
            <p>Connecting you with the resources you need 24/7.</p>
        </div>
    </div>
    <div class="content">
        <p>{{ suggestion|safe }}</p>
<!--        <h2>{{ suggestion }}</h2>-->
<!--        <h2>{{ result_label }} Solution</h2>-->
<!--        <p>{{ result_text }}</p>-->
    </div>

</div>
</body>
</html>